@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* 重置字體 */
body {
  /* 需要引號("")的字體名稱：含有空格or含有中文 
     不需要引號("")的字體名稱：單一英文字、有(-)隔開
     或全部都加引號 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /*常用來設定尺寸，所以直接inline修改為block (inline不支援尺寸設定)*/
  color: var(--dark);
  text-decoration: none;
  /*a(連結)的底線設定none*/
  /*設定在元素本身，不要設定在hover上，
    設定在hover時，未停留滿至動畫時間時。會沒有動畫。*/
  transition: 0.5s;
}

/* 重置按鈕 */
button {
  margin: 0;
  padding: 0;
}

/* reset end */
#contactform .btn-animat {
  display: flex;
  justify-content: center;
  align-items: center;
}

#topbar {
  display: flex;
  justify-content: space-between;
}

#topbar ul {
  display: flex;
  justify-content: flex-end;
}

#contactform .btn-animat {
  border-radius: 99px;
  height: 60px;
  width: 210px;
  cursor: pointer;
  margin: 20px auto;
  border-bottom: solid 1px #CDAAAB;
  color: #8F6B6D;
  letter-spacing: 10px;
  padding: 0 32px 0 42px;
}
#contactform .btn-animat:hover {
  animation: rotate 0.7s ease-in-out both;
}
#contactform .btn-animat:hover span {
  animation: storm 0.7s 0.1s ease-in-out both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(4px, 0, 0);
  }
  50% {
    transform: translate3d(-3px, 0, 0);
  }
  75% {
    transform: translate3d(2px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/*keyFrame end*/
@font-face {
  font-family: posse;
  src: url(../webfonts/akaPosse.ttf);
}
@font-face {
  font-family: superGolden;
  src: url(../webfonts/Super\ Golden.ttf);
}
/* 共用區 */
.title {
  margin: 110px 0 0 30px;
}
.title * {
  text-align: center;
}
.title h2 {
  font-family: "superGolden";
  font-size: 2rem;
  border-bottom: solid 3px #393a3a;
  line-height: 1;
  font-weight: 700;
}
.title h3 {
  font-family: "LXGW WenKai TC", cursive;
  font-size: 1.2rem;
}

.logo {
  width: 55px;
}

.icon a {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.icon-fb {
  background-image: url(../images/icon-fb.svg);
}
.icon-fb:hover {
  background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
  background-image: url(../images/icon-ig.svg);
}
.icon-ig:hover {
  background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
  background-image: url(../images/icon-line.svg);
}
.icon-line:hover {
  background-image: url(../images/icon-line-hover.svg);
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 30px;
}
#topbar .menu {
  padding: 0 10px;
  border-radius: 99px;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7));
  border-bottom: solid 2px rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* 容器的陰影可以針對元素本身，子元素就不會套用 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(255, 255, 255, 0.4);
}
#topbar .menu a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 10px;
  border-bottom: solid 2px transparent;
}
#topbar .menu a:hover {
  color: #444;
  border-bottom: solid 2px #444;
}