* {
    box-sizing: border-box; //不累加內距及邊框 
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* 重置字體 */
body {
    /* 需要引號("")的字體名稱：含有空格or含有中文 
       不需要引號("")的字體名稱：單一英文字、有(-)隔開
       或全部都加引號 */
    font-family:
        /*英文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
}

/* 重置連結 */
a {
    display: block;
    /*常用來設定尺寸，所以直接inline修改為block (inline不支援尺寸設定)*/
    color: var(--dark);
    text-decoration: none;
    /*a(連結)的底線設定none*/

    /*設定在元素本身，不要設定在hover上，
      設定在hover時，未停留滿至動畫時間時。會沒有動畫。*/
    transition: 0.5s;
}

/* 重置按鈕 */
button {
    margin: 0;
    padding: 0;
}

/* reset end */