@use "../variables/" as *;
@use "./mixin" as *;
// 因為_extend也在同資料夾中，不可以直接調用整個function資料夾

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

%flex-end {
    display: flex;
    justify-content: flex-end;
}

%img-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// 多行省略
%multiple-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

// 單行省略
%single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


%btn-animat {
    border-radius: $radius-ex;
    @extend %flex-center;
    height: 60px;
    width: 210px;
    cursor: pointer;
    margin: $spacing-md auto;
    @include bordered;
    color: $lesser-4;
    letter-spacing: $spacing-xs;
    padding: 0 32px 0 42px;

    &:hover {
        @include anmt($name: rotate);

        span {
            @include anmt($name: storm, $speed: 0.7s 0.1s);
        }
    }
}

%input-style {
    @include bordered;
    padding: $spacing-xs;
    border-radius: $radius-sm;
    background-color: $lesser-1;
    color: $lesser-4;
    resize: none;

    &:focus {
        outline: 2px solid $lesser-3;
    }

    &::placeholder {
        color: $lesser-3;
        font-size: $font-size-xs;
    }
}

%list-title {
    font-size: $font-size-lg;
    font-weight: $f-w-b;
    margin-bottom: $spacing-sm;
}