$primary: #79CCFF;

// Neutral-color: 中性色
$white:#f7f9fb;
$light:#f2f7fa;
$light-gray:#e7ebee;
$gray:#c8cacc;
$dark-gray:#a9acad;
$deep-gray:#828486;
$charoal:#393a3a;
$black:#0a0a0a;
$deep: #444;
$dark: #666;

//bg
$bg-1: #F2EDED;
$bg-2: #E6ECE5;
$bg-3: #ECF0F4;

//secondary
$lesser-1: #F3E4E4;
$lesser-2: #EFDBDB;
$lesser-3: #CDAAAB;
$lesser-4: #8F6B6D;


// alpha
$alpha-20:rgba(255, 255, 255, 0.2);
$alpha-30:rgba(255, 255, 255, 0.3);
$alpha-40:rgba(255, 255, 255, 0.4);
$alpha-50:rgba(255, 255, 255, 0.5);
$alpha-70:rgba(255, 255, 255, 0.7);
$alpha-b-20:rgba(0, 0, 0, 0.2);
$alpha-b-60:rgba(0, 0, 0, 0.6);
