// font-family

$family-display: Rosline, serif;
$family-en: "Ubuntu", sans-serif;
$family-tc:"LXGW WenKai TC", cursive;

// font-size 字級
$font-size-x: 0.75rem;
$font-size-sm:0.85rem;
$font-size-md:1rem;
$font-size-lg:1.2rem;
$font-size-xl:1.5rem;
$font-size-xxl:1.8rem;
$font-size-xxxl:2rem;
$font-size-ex:4rem;

// font-weight
$f-w-a : 400;
$f-w-b : 700;